#footer {
    -webkit-box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.07), 0 -2px 4px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.07), 0 -2px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.07), 0 -2px 4px rgba(0, 0, 0, 0.05);
}

.brand-description {
    width: 50%;
}

.brand-description img {
    width: 30%;
    margin-bottom: 20px;
    min-width: 160px;
}

.footer-title {
    font-weight: 600;
}

.quick-links-content {
    list-style: none;
    padding-inline-start: 0px;
    font-size: 14px;
}

.quick-links-content li {
    cursor: pointer;
}

.quick-links-content li a {
    text-decoration: none;
    color: black;
}

.quick-links-content li:hover,
.quick-links-content li a:hover {
    color: #246da8;
}

.address {
    width: 20%;
}

.address-content {
    font-size: 16px;
}

@media (max-width: 540px) {
    .footer-container {
        flex-direction: column;
    }

    .quick-links {
        /* display: none; */
        width: 100%;
        text-align: center;
    }

    .brand-description {
        display: none;
    }

    .address {
        display: none;
    }

}