@font-face {
  font-family: gilroy;
  src: url('../assets/fonts/Gilroy-Font/Gilroy-Regular.ttf');
}

@font-face {
  font-family: gilmer;
  src: url('../assets/fonts/Gilmer-Font/Gilmer-Regular.otf');
}

@font-face {
  font-family: gilroy-bold;
  src: url('../assets/fonts/Gilroy-Font/Gilroy-Bold.ttf');
}

.gilroy {
  font-family: gilroy !important;
}

.gilmer {
  font-family: gilmer !important;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: gilroy;
}

/* *:focus{
  outline: solid 1px #202e3b !important;
} */
.nowrap {
  white-space: nowrap;
}

.positon {
  position: absolute;
  top: 0;
}


section {
  min-height: 90vh;
}

.section-body {
  height: 100%;
  display: flex;
}

#home {
  height: 60vh;
}



.home-title {
  color: #202e3b;
  font-weight: 600;
  font-size: 68px;
  font-family: gilroy-bold;
  line-height: 85px;
}

.home-content {
  margin-block: 10%;
  font-size: 22px;
}

.home-action {
  width: 256px;
  height: 64px;
}

.home-action:hover img {
  -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}

.read-more {
  font-weight: 800;
  color: #246DA8;
}

.read-more:hover img {
  -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}

.underline {
  border-bottom: 15px solid;
  border-image: url("/assets/Underline\ 10.svg");
  border-image-repeat: stretch;
  border-image-slice: 0 0 15 0;
}

.underline-thin {
  border-bottom: 7px solid;
  border-image: url("/assets/Underline-thin.svg");
  border-image-repeat: stretch;
  border-image-slice: 0 0 15 0;
}

.home-image img {
  /* padding-right: 72px; */
  width: 476px;
  height: 428px;
}


.btn {
  background-color: #246da8;
  color: white;
  font-family: gilmer;
  letter-spacing: 1px;
  border-radius: 0px !important;
}

.home-action {
  width: 256px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  color: white !important;
}

.btn:focus {
  border: none;
  box-shadow: none;
}

.section-title {
  color: #246da8;
  /* font-weight: 600; */
  font-family: gilroy-bold;
  font-size: 28px;
}

.color-primary {
  color: #246da8;
}

.contact-title {
  font-family: gilroy-bold !important;
  /* font-weight: 600; */
  font-size: 36px;
}

.form-label {
  font-family: gilroy-bold !important;
  font-size: 24px;
  line-height: 28px;
}

.form-control {
  min-height: 58px;
  background-color: #FAF9F9;
  border: 1px solid #C8C8C8;
  border-radius: 3px;
}

.contact-btn {
  width: 176px;
  height: 64px;
  font-family: gilroy-bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  background: #246DA8 !important;
  border-radius: 11px !important;
}

.section-image {
  height: 80%;
}

.fw-600 {
  font-weight: 600 !important;
}

.aboutus-title {
  display: block;
  color: #202e3b;
  font-weight: 800;
  font-size: 36px;
  font-family: gilroy-bold !important;
}

.flex-row {
  padding-top: 45px;
  display: flex;
  flex-direction: row;
}

.aboutus-content {
  font-size: 22px;
  font-family: gilroy;
  line-height: 133.5%;
  /* width: 512px; */
}

.display-5 {
  font-size: calc(1.425rem + 0.32vw) !important;
  line-height: 1.2;
}

.highlight-list {
  margin-top: 24px;
  line-height: 48px;
}

.highlight-list {
  margin-top: 24px;
  line-height: 48px;
}


.services-card {
  height: 275px;
  width: 300px;
  border: 2px dashed #aeaeae;
  border-radius: 10px;
  padding: 1.5rem;
}

.chooseus-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border: 2px dashed #aeaeae;
  border-radius: 10px;
  padding: 1.5rem;
}

.chooseus-card .card-title {
  margin-left: 15px;
  font-family: gilroy-bold !important;
  font-size: 24px;
  /* font-weight: 600; */
  display: inline;
  margin-bottom: 0;
}

.services-card .card-title {
  line-height: 33px;
  font-family: gilroy-bold !important;
  margin-top: 30px;
  font-size: 28px;
  font-weight: bolder;
}

.services-card .card-content {
  font-family: gilroy !important;
  margin-block: 15px;
  font-size: 16px;
  font-weight: 400;
}

.form-label {
  font-weight: 600;
}

.input-container {
  width: 45%;
}

#contactus {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .input-container {
    width: 100%;
  }

  #contactus {
    height: unset !important;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}

@media (max-width: 460px) {
  #home {
    /* height: fit-content; */
    min-height: 60vh !important;
  }

  section {
    min-height: fit-content !important;
  }

  /* .section-body {
    height: 75%;
  } */
  .home-title {
    color: #202e3b;
    font-size: 32px;
    line-height: 36px;
  }

  .home-content {
    font-weight: 400;
    font-size: 16px;
  }

  .home-action {
    width: 180px;
    height: 45px;
    font-weight: 600;
    font-size: 12.4904px;
  }

  .home-image img {
    width: 300px;
  }

  .section-title {
    font-size: 18px;
    line-height: 21px;
  }

  .aboutus-title {
    font-size: 24px;
    line-height: 28px;
  }

  .aboutus-content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
  }

  .services-card .card-title {
    font-size: 24px;
    line-height: 28px;
  }

  .card-content {
    font-size: 24px;
    line-height: 28px;
  }

  .chooseus-card .card-title {
    font-size: 19.7608px;
    line-height: 23px;
  }

  .contact-title {
    font-size: 18px;
    line-height: 21px;
  }

  .form-label {
    font-size: 20px;
    line-height: 23px;
  }

  .form-control {
    min-height: 46px;
  }

  .contact-btn {
    width: 96px;
    height: 48px;
    font-size: 16px;
    line-height: 19px;
  }

  .row {
    --bs-gutter-x: 0rem !important;
  }
}