body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* *:focus{
  outline: solid 1px #202e3b !important;
} */
.nowrap {
  white-space: nowrap;
}

.positon {
  position: absolute;
  top: 0;
}

section {
  min-height: 100vh;
}

.section-body {
  height: 100%;
  display: flex;
}

@media (max-width: 460px) {
  #home {
    height: 80vh !important;
    min-height: 80vh !important;
  }

  /* .section-body {
    height: 75%;
  } */
}

.home-title {
  color: #202e3b;
  font-weight: 600;
}

.home-content {
  margin-block: 10%;
  font-size: larger;
}

.home-action {
  min-width: 210px;
  /* height: 64px; */
}

.home-action:hover img {
  -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}

.read-more:hover img {
  -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}

.underline {
  border-bottom: 15px solid;
  border-image: url("/assets/Underline\ 10.svg");
  border-image-repeat: stretch;
  border-image-slice: 0 0 15 0;
}

.underline-thin {
  border-bottom: 5px solid;
  border-image: url("/assets/Underline-thin.svg");
  border-image-repeat: stretch;
  border-image-slice: 0 0 15 0;
}

/* .home-image img{
  padding-right: 72px;
} */

.btn {
  background-color: #246da8;
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  border-radius: 0px !important;
}

.home-action {
  width: 256px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  color: white !important;
}

.btn:focus {
  border: none;
  box-shadow: none;
}

.section-title {
  color: #246da8;
  font-weight: 600;
  font-size: x-large;
}

.color-primary {
  color: #246da8;
}

.contact-title {
  font-weight: 600;
  font-size: xx-large;
}

.section-image {
  height: 80%;
}

.fw-600 {
  font-weight: 600 !important;
}

.aboutus-title {
  display: block;
  color: #202e3b;
  font-weight: 600;
}

.flex-row {
  padding-top: 45px;
  display: flex;
  flex-direction: row;
}

.aboutus-content {
  font-size: larger;
}

.display-5 {
  font-size: calc(1.425rem + 0.32vw) !important;
  line-height: 1.2;
}

.highlight-list {
  margin-top: 24px;
  line-height: 48px;
}

.highlight-list {
  margin-top: 24px;
  line-height: 48px;
}

#home {
  height: 100vh
}

.services-card {
  height: 275px;
  width: 300px;
  border: 2px dashed #aeaeae;
  border-radius: 10px;
  padding: 1.5rem;
}

.chooseus-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border: 2px dashed #aeaeae;
  border-radius: 10px;
  padding: 1.5rem;
}

.chooseus-card .card-title {
  margin-left: 15px;
  font-size: large;
  font-weight: 600;
  display: inline;
}

.services-card .card-title {
  margin-top: 30px;
  font-size: large;
  font-weight: 600;
}

.services-card .card-content {
  font-family: "poppins", sans-serif;
  margin-block: 15px;
  font-size: medium;
  font-weight: 400;
}

.form-label {
  font-weight: 600;
}

.input-container {
  width: 45%;
}

#contactus {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .input-container {
    width: 100%;
  }

  #contactus {
    height: unset !important;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}